tmp
gopanel
/.vscode
/tmp
/dist
/desktop/build/bin
/desktop/build/appicon.png
/admin/wailsjs
/admin/package.json.md5
.air.toml

# macOS
.DS_Store

conf.yaml
PROMPT.md

# Dev config & Secrets
*.dev
init.yaml
init.yaml.dev
.env
.env.*
!.env.example

/public
/.tmp
/admin/yarn.lock
/gp-agent/gp-agent
/gpc/gpc
*.bak

/private